.custom-nav {
    background-color: rgb(154, 171, 194);
    color: black;
}

.custom-footer {
    background-color: rgb(60, 74, 82);
    color: white;
}

.custom-nav-item {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.custom-nav-item:hover {
    text-decoration: underline;
    color: white;
}